#app {
  background-color: #f8f8f8;
}
#editor-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 5%;
}

#editor {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.preview {
  max-height: 97%;
  border: 1px solid #eee;
  overflow-y: scroll;
  padding: 10px;
  flex-basis: 48%;
  background-color: #eee;
}

.editor-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow:
    1px 1px 0px 0px,
    2px 2px 0px 0px,
    3px 3px 0px 0px,
    4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 45%;
}

.editor-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.footer {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.footer-signature {
  width: 40%;
  margin: 5px;
  text-align: center;
}

.heart {
  color: #e25555;
}

@media (min-width: 768px) {
  .editor-button {
    padding: 0.25em 0.75em;
  }
}
